<div class="container bs-docs-container">

<!-- Docs nav
    ================================================== -->
	<div class="row">
	  <div class="col-md-3" role="complementary">
		<div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
		  <ul id="menu" class="nav bs-docs-sidenav">
			  <li>
				<a href="#info"><i class="glyphicon glyphicon-chevron-right"></i>Information</a>
			  </li>
			  <li>
				<a href="#license"><i class="glyphicon glyphicon-chevron-right"></i>License</a>
			  </li>
		  </ul>
		</div>
	  </div>	  
      <div class="col-md-9" role="main">
	  
	  <!-- Info
        ================================================== --> 
	    <div class="bs-docs-section">
			<h1 id="info" class="page-header">Information</h1>
			<p><strong>The task was to create an extension of the existing turf.js spatial analysis library with additional functionalities that make it possible to describe a spatial analysis model using a combination of more than one turf-algorithm, in one step. The application does this by having one button to run a specific model as though it was a core algorithm of the turf.js library. The application is based on openlayers 3 and implements the model functionality using a combination of the following functions: buffer, intersect, union, difference, combine of turf.js. The web application makes use of a dataset consisting of three layers: administrative layers of Germany, administrative areas of Baden-Wurttemberg and points with radiation</em>.</p>
		</div>
		<!-- Users'Manual
        ================================================== -->

	 
	    <!-- Licence
        ================================================== -->
        <div class="bs-docs-section">
			<h1 id="license" class="page-header">License</h1>
			<p>Our licence is MIT License.  This is a simple type whose conditions only requires the preservation of copyright and license notices. Licensed works, modifications, and larger works may be distributed under different terms and without source code.</p>
			  <img src="img/mit-license.png" alt="License" height="200" filter: "grayscale(100%)"/>
			  <p>More information about license: <a href="http://choosealicense.com/licenses/mit/">http://choosealicense.com/licenses/mit/</a>  
			</p>
		</div>
	  </div><!--.col-md-9-->
    </div><!--row-->
  </div><!--.container bs-docs-container-->
	
<hr class="featurette-divider">
<!-- FOOTER -->
      <footer>
  
		<p><a title="Logo HS-Karlsruhe" href="https://www.hs-karlsruhe.de/home.html"> 
        <img src='img/hska_logo_RGB_small.jpg' alt="Logo HS-Karlsruhe" ></a>
        &middot;    &copy; 2017 Keep Hacking, OPEN SOURCE GIS 2017-2018 </p>       
		
      </footer>
